<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>

    <table border="1px">
        <tr *ngFor="let s of students; let i =index; trackBy:trackByGetMore">
            <td>{{i+1}}</td>
            <td>{{s.studentId}}</td>
            <td>
                {{s.name}}</td>
            <td>{{s.gender}}</td>
            <td>{{s.age}}</td>
        </tr>
    </table>

    <button (click)=getMore()>Add More Data</button>

    <router-outlet></router-outlet>: